p {
  margin: 0px;
}

h3 {
  margin: 0px;
}

.card .img-wrapper {
  max-width: 100%;
  align-items: center;
  position: relative;
  padding: 10px;
}

.favourite-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 99999;
  width: 30px;
  height: 30px;
  color: lightpink;
  cursor: pointer;
  transition: all ease 0.2s;
}

.favourite-button:hover {
  color: red;
  width: 36px;
  height: 36px;
  top: 17px;
  right: 17px;
}

.favourite-button-selected {
  color: darkred;
}

#divCharacters {
  display: flex;
  flex-wrap: wrap;
  
}

#btnRandom{
  margin-left: 20px;
}
#btnFavorites{
  color: red;
}